body {
    font-family: Arial, sans-serif;
    background-image: url('image/avis6.jpg'); /* Vérifie le chemin */
    background-size: cover; /* Ajuste l'image pour remplir l'écran */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition */
    background-attachment: fixed; /* Garde l'image en place lors du scroll */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


h1 {
    text-align: center;
    color: #007bff;
    border-radius: 10px;
    margin-bottom: 10px;
   
}
p {
    color: #000000;
    font-size: 20px;
    margin-bottom: 20px;
}
.form {
    margin-bottom: 15px;
    
}

h4 {
    margin-bottom: 15px;
    color: #2c4f72;
}

input[type="text"], input[type="radio"] {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
    font-size: 20px;
}

.rating {
    display: flex;
    justify-content: center;
}

.rating span {
    font-size: px;
    cursor: pointer;
    color: #f4f4f4;
    transition: color 0.3s;
}

.rating span:hover,
.rating span.active {
    color: gold;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #007bff;
}